<html>
    <head>
    <title>Hello from Flask</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    </head>
    <body>
        <h1>Hello, World!</h1>
        <hr/>
        <div><pre>{{ foo }}</pre></div>
        <hr/>
        <a href="/note">Notes for this job</a>
        <form action="{{ url_for('note') }}" method="post">
          <textarea id="foo" name="foo" rows="8" cols="100"></textarea>
          <input type="submit">
        </form>
        <script>
          new SimpleMDE({
            element: $("textarea#foo")[0], initialValue: "{{ value }}"
          });
        </script>
      </body>
</html>
